@model SchoolERPSystem.Web.Areas.admin.Models.FrontOfficeViewModel.AdmissionEnquiryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Front Office
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-4">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Add Enquiry</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->

                                <form class="form-horizontal">
                                    <div class="box-body">

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                            
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                                            
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                           
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                       
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                                            
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                            
                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label" })
                                            
                                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                            
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                                            
                                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                            
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NextFollowUpDate, htmlAttributes: new { @class = "control-label" })
                                            
                                                @Html.EditorFor(model => model.NextFollowUpDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.NextFollowUpDate, "", new { @class = "text-danger" })
                                            
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Assigned, htmlAttributes: new { @class = "control-label" })
                                          
                                                @Html.EditorFor(model => model.Assigned, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Assigned, "", new { @class = "text-danger" })
                                           
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ReferenceId, htmlAttributes: new { @class = "control-label" })
                                            
                                                @Html.DropDownList("ReferenceId", (SelectList) ViewBag.ReferenceId, "Select", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ReferenceId, "", new { @class = "text-danger" })
                                          
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SourceId, htmlAttributes: new { @class = "control-label" })
                                           
                                                @Html.DropDownList("SourceId", (SelectList)ViewBag.SourceId, "Select", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.SourceId, "", new { @class = "text-danger" })
                                            
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SchoolClassId, htmlAttributes: new { @class = "control-label" })
                                            
                                                @Html.DropDownList("SchoolClassId", (SelectList)ViewBag.SchoolClassId, "Select", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.SchoolClassId, "", new { @class = "text-danger" })
                                           
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NoOfChild, htmlAttributes: new { @class = "control-label" })
                                            
                                                @Html.EditorFor(model => model.NoOfChild, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.NoOfChild, "", new { @class = "text-danger" })
                                           
                                        </div>

                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <input type="submit" value="Save" class="btn btn-info pull-right" />
                                        <!-- /.box-footer -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-8">
                    @{ Html.RenderAction("List", "Enquiry", new { area = "Admin" }); }
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
