@model SchoolERPSystem.Web.Areas.admin.Models.AcademicsViewModel.SectionViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Academics
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            
            <div class="col-md-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Add Section</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <form class="form-horizontal">
                                <div class="box-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SectionName, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.SectionName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SectionName, "", new { @class = "text-danger" })
                                        
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <input type="submit" value="Create" class="btn btn-info pull-right" />
                                    <!-- /.box-footer -->
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-8">
                @{ Html.RenderAction("List", "Section", new { area = "Admin" }); }
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>