@model SchoolERPSystem.Web.Areas.admin.Models.IncomeViewModel.IncomeTypeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Income
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-4">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Add Income Type</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->

                                <form class="form-horizontal">
                                    <div class="box-body">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IncomeHead, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.IncomeHead, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.IncomeHead, "", new { @class = "text-danger" })
                                            
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            
                                        </div>

                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <input type="submit" value="Save" class="btn btn-info pull-right" />
                                        <!-- /.box-footer -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-8">
                    @{ Html.RenderAction("List", "IncomeType", new { area = "Admin" }); }
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IncomeTypeViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
